/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
  --blackcolor: #000;
  --gray: #909090;
  --red: #FF0000;
  --white:#fff;
  --white20: rgba(255, 255, 255, 0.2);
  --pirple:#272465;
  --pirpleSoft:#ADADD1;
  --pirple70: rgba(39, 36, 101, 0.7);
  --green: #8BD434;
  --fontFamily: "Inter", sans-serif;
}
body {
  font-family: var(--fontFamily);
  font-weight: 400;
  color: var(--blackcolor);
  font-size: 16px;
}

  
button {
  cursor: pointer; }

a:focus,
.button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; }

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontFamily);
  color: var(--blackcolor);
  margin-top: 0px; 
  font-weight: 700;
  text-transform: normal;
 }
img{
  max-width: 100%;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

 img{
  max-width: 100%;
 }

 .container {
  max-width: 1200px;
}
/* default-css END 
================================== */
 


.header-area {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0; 
  width: 100%;
  z-index: 9999; 
  background: var(--white20);
}  
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrap > a.logo {
  max-width: 250px;
}

.langs {
  position: relative;
}
 
 
/* Header section END */

section.hero-section {
  position: relative;
  z-index: 2;
  padding: 290px 0 60px 0;
}

section.hero-section > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}

section.hero-section:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--white), #ffffff57);
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-wrap {
  max-width: 800px;
  background: var(--pirple70);
  padding: 60px;
  border-radius: 0 200px 0 0;
}

.hero-wrap h1 {
  font-weight: 700;
  color: var(--white);
  font-size: 62px;
  filter: drop-shadow(0px 4px 4px #0000003b);
  margin: 0;
} 

.thank-wrap > h1 {
    text-align: center;
    font-size: 58px;
    font-weight: 800;
    color: var(--pirple);
    text-transform: uppercase;
    margin: 150px 0 60px 0;
}

.thank-you-inner-wrap {
    background: url(../img/finalbg.png);
    background-size: cover;
    padding:60px 55px;
    border-radius: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    display: flex;
    margin-bottom: 50px;
    align-items: self-start;
    background-position: center;
}

.thank-you-inner-wrap > img {
  max-width: 450px;
  margin-right: 80px;
}

.thank-you-inner-wrap > div {
    color: #fff;
}

.thank-you-inner-wrap > div > h2 {
    font-size: 52px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.thank-you-inner-wrap > div > h2 img {
    margin-left: 25px;
}

.thank-you-inner-wrap > div > p,.thank-you-inner-wrap > div > a {
    font-size: 18px; 
}

.thank-you-inner-wrap > div > p span,.thank-you-inner-wrap > div > a:not(.theme-btn) {
    text-transform: uppercase;
    color: var(--pirple);
    text-decoration: underline;
    font-weight: 500;
}
.thank-you-inner-wrap > div > a:not(.theme-btn){
  text-transform: none;
}
.thank-you-inner-wrap > div > a.theme-btn{
  margin: 0;
  margin-top: 40px;
}
.stistics, .more-statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stistics > div, .more-statistics > div {
    max-width: 48%;
    background: #D9D9D9;
    border-radius: 16px 16px 0 0 ;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.stistics > div > h4, .more-statistics > div > h2 {
    font-size: 28px;
    padding: 10px;
    border-bottom: 5px solid #fff;
}
.stistics > div > div{
  padding: 70px 10px;
  text-align: center;
} 

.stistics > .result_score > div {
    padding: 50px 10px;
}
.stistics > div > div .label, .more-statistics > div > div .label {
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  background: #8BD434;
  color: #fff;
  border-radius: 10px;
  font-size: 62px;
  font-weight: 700;
}

.stistics > div > div > h3 {
  margin: 0;
  font-size: 28px;
}
.stistics > div > div .label span {
  text-shadow: 0 4px 4px #0000002a;
}

.all-steps {
  margin: 110px 0;
}
.all-steps::-webkit-scrollbar,.step__wrp::-webkit-scrollbar{
  height: 0;
}
.all-steps > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  position: relative;
  z-index: 2;
}

.all-steps > ul li {
  position: relative;
  /* font-size: 20px;
  line-height: 38px; */
  font-weight: 600;
  color: var(--pirple);
}

.all-steps > ul li > div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8BD434;
  border-radius: 50%;
  position: relative;
  background: #fff;
  color: #8BD434;
  font-weight: 700;
  font-size: 28px;
  margin: auto;
  margin-bottom: 15px;
}
.all-steps > ul li > div img{
  max-width: 50%;
}
.all-steps > ul:after {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  width: 90%;
  background: #8BD434;
  height: 5px;
  z-index: -1;
  transform: translateX(-50%);
}

.all-steps > ul li > div.ticked {
  background: #8BD434;
}

.all-steps > ul:before {
  content: "";
  position: absolute;
  top: 25px;
  width: 45%;
  height: 5px;
  left: 5%;
  box-shadow: 0px 0px 20px 2px #a2d84a;
}








.more-statistics > div > h2{
  text-transform: uppercase;
  border-width: 15px;
}
.more-statistics > div > div{
  padding:60px 40px
}


.more-statistics > div > div ul li {
  display: flex;
  align-items: baseline;
  width: 100%;
  margin-bottom: 18px;
  justify-content: space-between;
}

.more-statistics .last_score > div {
  padding: 60px 22px;
}

.more-statistics > div > div ul li > div:not(.progress) {
  max-width: 130px;
  display: flex;
  align-items: baseline;
  font-size: 14px;
  text-align: left;
  line-height: normal;
}

.more-statistics .last_score > div > ul {
  width: 100%;
}

.more-statistics > div > div ul li > div:not(.progress) > img {
  margin-right: 8px;
}

.more-statistics > div > div ul li > div.progress {
  width: calc(100% - 150px);
}

.progress {
  border-radius: 10px;
  background: #ADADD1;
  height: 23px;
}

.progress-bar {
  background: #272465;
  border-radius: 10px;
}

.number_rang {
  width: calc(100% - 150px);
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: normal;
}
.answers-wrap {
  max-width: 1010px;
  margin: 150px auto;
}

.answers-wrap > h2 {
  font-size: 44px;
  text-align: center;
  margin-bottom: 60px;
}

.accordion-button:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}
.accordion-item {
  margin-bottom: 10px;
}
button.accordion-button {
  background: #272465;
  color: #fff;
  font-size: 20px;
  line-height: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 25px;
  border-radius: 8px !important;
  overflow: hidden;
}

button.accordion-button > div {
  width: 100%;
  text-align: left;
}

button.accordion-button > div > img {
  height: auto;
  width: 25px;
  margin-right: 10px;
}

.accordion-button:not(.collapsed) {
  background: #272465;
  color: #fff;
}

.accordion-button::after {
  display: none;
}

.accordion-button:not(.collapsed) > img {
  transform: rotate(180deg);
}

.accordion-button > img {
  max-width: 16px;
  transition: .3s;
}

.accordion-collapse {
  border: none;
  padding: 25px 20px;
}
.custom-alert {
  display: flex;
  align-items: self-start;
  /* flex-wrap: wrap; */
  margin-bottom: 50px;
}

.custom-alert > div {
  margin-left: 10px;
}

.custom-alert > div > p {
  font-style: italic;
  /* font-size: 20px; */
  line-height: normal;
  margin: 0;
  color: #008CBD;
}

.implemention_blk {
  padding-left: 30px;
  position: relative;
  z-index: 2;
}

.implemention_blk:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 20px;
  height: 100%;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}

.implemention_blk > h3 {
  line-height: normal;
  margin-bottom: 15px;
}

.implemention_blk > p {
  font-size: 20px;
  font-style: italic;
  color: #909090;
  line-height: normal;
}
/* label.radio_box {
  display: flex;
  align-items: center;
  width: 100%;
  background: #ADADD1;
  margin-top: 25px;
  color: #fff;
  padding: 19px 16px;
  border-radius: 8px;
  font-size: 24px;
  line-height: normal;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

label.radio_box > span {
  display: block;
  width: 26.3px;
  height: 26.3px;
  border-radius: 50%;
  border: 1px solid #272465;
  background: #fff;
  transition: .3s;
  margin-right: 15px;
  position: relative;
}

label.radio_box input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
label.radio_box div{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #272465;
  z-index: -1;
  opacity: 0;
}
label.radio_box input:checked~span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 10px;
  border-bottom: 2px solid #272465;
  border-right: 2px solid #272465;
  transform: translate(-55%, -61%) rotate(45deg);
}

label.radio_box input:checked~span {
  border-color: #fff;
}

label.radio_box input:checked~div {
  opacity: 1;
} */















/* humbarger END */
 
 
/* Header section END */



/*---------------------Solutions section Start ----------------------*/
.Solutions-area {padding: 50px 0;text-align: center;}

.Solutions-area .title {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 800;
    color: var(--pirple);
}

.Solutions__wrp {color: var(--white);padding: 0 50px;background: radial-gradient(83.43% 83.43% at 50% 0%, #03004A 0%, #272465 10.94%, rgba(39, 36, 101, 0.0001) 97%);border-radius: 36px;}

.Solutions__wrp .Solution__blk i {
    background: #fff;
}

.Solutions__wrp h5 {
    color: #ffff;
}

.Solutions__wrp h1 {
    color: #fff;
}
.Solutions__top {text-align: center;padding: 50px 0 60px;}

.Solutions__top h1 {
    font-weight: 700;
}

.Solutions__top p {
    max-width: 755px;
    margin: auto;
    margin-top: 20px;
}
.Solutions__wrp .Solution__blk {
  background: var(--pirple);
  min-height: 344px;
  border-radius: 24px;
  padding: 33px;
}

.Solution__blk {
    margin-bottom: 50px;
}

.Solution__blk h5 {
    margin: 28px 0 20px;
    font-size: 20px;
}

.Solution__blk p {
    font-size: 18px;
    max-width: 380px;
    margin: auto;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Solution__blk i {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    background: var(--pirple);
}


.Solutions__wrpV2 .row {
    max-width: 1500px;
    margin: auto;
}


.Solution__btn a, .theme-btn {
    background: #504F7E;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    width: 240px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    margin-top: 30px;
    transition: all .3s ease-in-out;
    border: none;
}

.Solution__btn a:hover, .theme-btn:hover {
    box-shadow: 0 0 16px #504F7E;
    color: #fff;
}
/*---------------------Solutions section End -------------------------*/


/*--------------------- section Start ----------------------*/
.contact-area {padding: 50px 0;}

.contact-area .container .row {
    max-width: 1560px;
}

.step__wrp {margin-bottom: 50px;overflow: auto;}

.step__wrp ul {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-width: 980px;
    width: 100%;
}

.step__wrp ul li {
  min-width: 40px;
  text-align: center;
  max-width: 100px;
  z-index: 2;
}

.step__wrp ul:after {
    content: "";
    position: absolute;
    width: 93%;
    left: 48px;
    top: 16px;
    background: #000;
    height: 7px;
}

.step__wrp ul li p {
    margin: 0;
    font-size: 14px;
}

.step__wrp ul li i {
    width: 36px;
    height: 36px;
    display: block;
    margin: auto;
    border: 4px solid #000000;
    border-radius: 50%;
    margin-bottom: 10px;
    background: #ffff;
    position: relative;
    z-index: 9;
}

.step__wrp ul li i.active {
    background: #000;
}

.step__title {margin-bottom: 40px;}

.step__title p { 
    color: #008CBD;
    margin: 0;
    display: flex;
    gap: 5px;
    font-style: italic;
    align-items: flex-start;
}

.step__title h1 {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 36px;
    background: #E5E5E5;
    border-top-right-radius: 70px;
    padding: 8px 16px;
}
.step__title h1 img {
  max-width: 26px;
}
.contact__form {margin-top: 20px;}

.contact__form button {
  font-size: 20px;
  margin: auto ! IMPORTANT;
  height: 60px;
  text-transform: capitalize;
  margin-top: 50px ! IMPORTANT;
}
.input__blk {margin-bottom: 25px;max-width: 1150px;}

.input__blk .wrapper {
    max-width: 970px;
}

.input__blk input {
  width: 100%;
  border: 1px solid #D9D9D9;
  border-radius: 40px;
  height: 55px;
  padding: 0 25px;
  font-size: 20px;
}

.input__blk label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}


.input__blk label sup {
    color: #FF0000;
    font-size: 20px;
}

/* radio button style Start */

.wrapper .box label{
  display: flex;
  height: 62px;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  margin: 10px 0 20PX;
  padding-left: 18px;
  cursor: default;
  transition: all 0.3s ease;
  background: #ADADD1;
}
#option-1:checked ~ .option-1,
#option-2:checked ~ .option-2,
#option-3:checked ~ .option-3,
#option-4:checked ~ .option-4,
#option-5:checked ~ .option-5,
#option-6:checked ~ .option-6,
#option-7:checked ~ .option-7,
#option-8:checked ~ .option-8,
#option-9:checked ~ .option-9,
#option-10:checked ~ .option-10,
#option-11:checked ~ .option-11,
#option-12:checked ~ .option-12
{
  background: var(--pirple);
}
.wrapper .box label .dot{
  height: 26px;
  width: 26px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
  border: 1px solid;
}
#option-1:checked ~ .option-1 .dot,
#option-2:checked ~ .option-2 .dot,
#option-3:checked ~ .option-3 .dot,
#option-4:checked ~ .option-4 .dot,
#option-5:checked ~ .option-5 .dot,
#option-6:checked ~ .option-6 .dot,
#option-7:checked ~ .option-7 .dot,
#option-8:checked ~ .option-8 .dot,
#option-9:checked ~ .option-9 .dot,
#option-10:checked ~ .option-10 .dot,
#option-11:checked ~ .option-11 .dot,
#option-12:checked ~ .option-12 .dot
{
  background: #fff;
}
.box label .dot::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
}
#option-1:checked ~ .option-1 .dot::before,
#option-2:checked ~ .option-2 .dot::before,
#option-3:checked ~ .option-3 .dot::before,
#option-4:checked ~ .option-4 .dot::before,
#option-5:checked ~ .option-5 .dot::before,
#option-6:checked ~ .option-6 .dot::before,
#option-7:checked ~ .option-7 .dot::before,
#option-8:checked ~ .option-8 .dot::before,
#option-9:checked ~ .option-9 .dot::before,
#option-10:checked ~ .option-10 .dot::before,
#option-11:checked ~ .option-11 .dot::before,
#option-12:checked ~ .option-12 .dot::before
{
  /* background: #333; */
  background: url(../img/check.svg);
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 1px 2px;
}
.wrapper .box label .text{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
  transition: color 0.3s ease;
}
#option-1:checked ~ .option-1 .text,
#option-2:checked ~ .option-2 .text,
#option-3:checked ~ .option-3 .text,
#option-4:checked ~ .option-4 .text,
#option-5:checked ~ .option-5 .text,
#option-6:checked ~ .option-6 .text,
#option-7:checked ~ .option-7 .text,
#option-8:checked ~ .option-8 .text,
#option-9:checked ~ .option-9 .text,
#option-10:checked ~ .option-10 .text,
#option-11:checked ~ .option-11 .text,
#option-12:checked ~ .option-12 .text
{
  color: #fff;
}
.wrapper .box input[type="radio"]{
  display: none;
}
/*--------------------- section End -------------------------*/



/*---------------------Strategic section Start ----------------------*/
.Strategic-area{
    padding: 50px 0;
}
.Strategic__blk{
    padding-left: 30px; 
    margin-bottom: 70px; 
    margin-top: 20px;
    position: relative;
}
.Strategic__blk:after {
  content: "";
  position: absolute;
  top: 3%;
  left: 0;
  width: 20px;
  height: 97%;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.Strategic__blk p {
    /* font-size: 20px; */
    font-style: italic;
    color: #909090;
    margin-bottom: 25px;
}

.Strategic__blk h2 {
    position: relative;
    /* top: -20px; */
    margin-bottom: 10; 
    font-size: 24px;
    font-weight: 500;
}

.Strategic__blk h2 sup {
    color: #FF0000;
}
/*---------------------Strategic section End -------------------------*/





/*--------------------- Circle Start ----------------------*/
svg.radial-progress {
  height: auto;
  max-width: 250px; 
  transform: rotate(-90deg);
  width: 100%;
}
svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; /* Circumference */
  stroke-width: 10;
}
svg.radial-progress circle.complete {
  stroke-dasharray: 219.91148575129; /* Circumference */
}
svg.radial-progress text {
  fill: #000;
  font: 600 .7em/1 'Inter', sans-serif;
  text-anchor: middle;
}



/*** COLORS ***/
/* Primary */
svg.radial-progress circle {
  stroke: #272465;
} 
svg.radial-progress circle.incomplete {
  opacity: 1;
  stroke: #fff;
}
/*--------------------- Circle End -------------------------*/



.thank-you, main{
  overflow: hidden;
}
